
      .group-wit-container {
         display: flex;
         margin-top: 4em;
         height: 30%;

         .wit-robot {
            width: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .robot {
               width: 60%;
            }
            .robot-action {
               background-color: #e7e7e7; color: black;; /* Green */
               border: none;
               color: black;
               margin-left: 1vw;
               padding: 15px 32px;
               text-align: center;
               text-decoration: none;
               display: inline-block;
               font-size: 16px;   
            }
         }
         .wit-micro {
            display: flex;
            padding: 2em;
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-style: groove;

            .button-record {
                  background-color: #008CBA; /* Green */
                  border: none;
                  color: white;
                  margin-left: 1vw;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
            }
            .button-stop {
               background-color: #f44336; /* Green */
               border: none;
               margin-left: 1vw;
               color: white;
               padding: 15px 32px;
               text-align: center;
               text-decoration: none;
               display: inline-block;
               font-size: 16px;
            }
         }
         .wit-results {
            display: flex;
            flex-direction: column;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-style: groove;
            .wit-text {
               display: flex;
               flex-direction: column;
               align-items:center;
               justify-content: flex-end;
               .results-text {
                  padding: 1em;
               }
            }
            .button-save {
               background-color: #4CAF50;; /* Green */
               border: none;
               margin-left: 1vw;
               color: white;
               padding: 15px 32px;
               text-align: center;
               text-decoration: none;
               display: inline-block;
               font-size: 16px;
            }
         }
      }