.word-item {
   margin: 2px;
   display: flex;
   width: 15em;
   height: 5em;
   background-color: rgb(155, 212, 64);
   align-items: center;
   justify-content: center;
   margin: 1em 1em 0 0;
   cursor: pointer;
}