.notepad {
   background: #f6f6f6;
   box-shadow: 0 1px 4px hsla(0,0%,0%,.25);
   margin: 5em auto;
   position: relative;
   width: 70%;
   background-image: -webkit-radial-gradient(#e6e6e6 21%, transparent 21%),
                     -webkit-radial-gradient(hsla(0,0%,0%,.25) 21%, transparent 26%),
                     -webkit-linear-gradient(to bottom, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%, hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);
   

   background-image:  -moz-radial-gradient(#e6e6e6 21%, transparent 21%),
                     -moz-radial-gradient(#e6e6e6 10%, transparent 12%),
                     -moz-linear-gradient(to bottom, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%, hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);
   
   background-image:  radial-gradient(#e6e6e6 21%, transparent 21%),
                     radial-gradient(#e6e6e6 10%, transparent 12%), 
                     linear-gradient(to bottom, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);
   background-position: 6px 6px, 6px 5px, 50% 18px;
   background-repeat: repeat-y, repeat-y, repeat;
   background-size: 48px 48px, 48px 48px, 24px 24px;
   padding: 48px 24px 24px 84px;
}
.notepad {
   -webkit-transform:rotate(6deg);
   -o-transform:rotate(6deg);
   -moz-transform:rotate(6deg);
}
.notepad:after {
   border-left: 1px solid hsla(0,75%,50%,.2);
   border-right: 1px solid hsla(0,75%,50%,.2);
   bottom: 0;
   content: '';
   left: 58px;
   position: absolute;
   top: 0;
   width: 2px;
}
.notepad:before {
   bottom: 8px;
   border-radius: 4px;
   box-shadow: 0 10px 10px hsla(0,0%,0%,.25);
   content: '';
   height: 100px;
   max-width: 300px;
   position: absolute;
   right: 5px;
   width: 300px;
   z-index: -10; 
   -webkit-transform: rotate(2deg);    
      -moz-transform: rotate(2deg);   
       -ms-transform: rotate(2deg);   
        -o-transform: rotate(2deg);
           transform: rotate(2deg);
}
.notepad p {
   color: #333;
   font: 16px/24px serif;
   margin-bottom: 24px;
}
.notepad p:first-child:first-line {
   font-variant: small-caps;
}
.notepad p:first-child:first-letter {
   color: #444;
   float: left;
   font: bold 48px/48px UnifrakturCook, Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
   padding-right: 12px;
}
.notepad ul {
   color: #333;
   font: italic 16px/24px serif;
   line-height: 24px;
   -webkit-column-count: 2;
      -moz-column-count: 2;
           column-count: 2;
}