.directory-item-container {
   display: flex;
   width: 20em;
   height: 6em;
   margin: 1em;
   background-color: rgb(191, 231, 14);
   cursor: pointer;
   .flag {
      width: 5em;
      height: 6em;
      background-color: blue;
      margin-right: 1em;
   }
}