.group-container {
   display: flex;
   align-items: center;
   flex-direction: column;

   .group-content{
      display: flex;
      flex-direction: column;
      padding-left: 2em;
      padding-right: 2em;
      width: 96%;

      .group-subtitles-container {
         display: flex;
         .friend-title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
         }
         .vocabulary-title {
            display: inline-block;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
         }
      }

      .group-content-container {
           display: flex;
          .friends-list-container {
             display: flex;
             align-items: center;
             flex-direction: column;
             width: 20%;
             height: 25em;
             .friends-list {
                padding-top: 1em;
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
             }
          }
          .vocab-list-container {
             display: flex;
             width: 80%;
             height: 25em;
             .vocab-list {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                overflow-y: scroll;
                .marco {
                   cursor: pointer;
                }
             }
          }
      }
   }
}